.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9DEDED;
  }
  
  .column {
    font-size: larger;
  }
  
  .header {
    margin: 10px 0px 0px 10px;
    text-align: left;
    font-weight: bold;
  }
  
  .subheader {
    margin: 0px 0px 0px 10px;
    text-align: left;
  }
  
  .logoColumn {
    text-align: right;
  }
  
  img:last-child {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: auto; 
  }
  
  .databrowsing {
    font-weight: bold;
    font-size: x-large;
    margin-left: 10px;
  }
  
  .checkboxcontainer {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    margin: 10px;
    font-size: large;
  }
  
  .preptypecontainer {
    margin: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .preptype {
    display: inline-block;
    margin-left: 10px;
    font-size: larger;
  }
  
  .sexcontainer {
    margin: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .sex {
    display: inline-block;
    margin-left: 10px;
    font-size: larger;
  }
  
  
  .diseasegroupcontainer {
    margin: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .diseasegroup {
    display: inline-block;
    margin-left: 10px;
    font-size: larger;
  }
  
  .celltypecontainer {
    display: flex;
    flex-direction: row;
  }
  
  .celltype {
    display: inline-block;
    margin-left: 10px;
    font-size: larger;
  }
  
  .diseasegroupcontainer {
    margin: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .diseasegroup {
    display: inline-block;
    margin-left: 10px;
    font-size: larger;
  }
  
  .celltypecontainer2 {
    margin: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .celltypeinvisible {
    display: inline-block;
    margin-left: 10px;
    font-size: larger;
    color: transparent;
  }
  
  .checkboxList {
    display: flex;
    flex-direction: column;
    font-size: large;
    margin: 5px;
    color: black;
  }
  
  .row3{
    display: flex;
    flex-direction: row;
    width: 40%
  }
  
  .column1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px;
    font-size: larger;
  }
  